.container {
    padding-bottom: 30px;
  }
  
  .logo {
    width: 200px;
    margin: 0 auto;
    padding-top: 50px;
  }
  
  .sub-ttl {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
  }
  
  #hidden {
    display: none;
  }
  
  #form {
    text-align: center;
  }
  
  #label {
    font-size: 15px !important;
  }
  
  option {
    font-size: 15px;
  }
  
  input[type="text"] {
    height: 40px;
    width: 90%;
    font-size: 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    outline: none;
    padding-left: 20px;
  }
  
  .ui-autocomplete {
    position: absolute;
    cursor: default;
    z-index: 30 !important;
  }
  
  .ui-front, ui-autocomplete {
    z-index: 9999 !important;
  }
  
  .genre__group {
    padding-bottom: 15px;
    border-radius: 30px;
    opacity: .7;
    text-align: center;
  }
  
  .genre__ttl {
    margin-top: 15px;
    padding: 5px 10px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
  }
  
  .genre__ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .genre__item {
    width: 100%;
    text-align: center;
    border: 1px solid #000;
    background: rgba(255, 255, 255, 0.993);
    border-radius: 15px;
    margin: 15px 10px;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    opacity: .8;
    transition: .5s;
    box-shadow: #000;
  }
  
  .genre__item:hover {
    border-radius: 40px;
  }
  
  .genre__google:hover {
    background: #dae9ff;
  }
  
  .genre__yahoo:hover {
    background: #f0e3ff;
  }
  
  .genre__bing:hover {
    background: #aeeccf;
  }
  
  .genre__youtube:hover {
    background: #ffe3e3;
  }
  
  .genre__twitter:hover {
    background: #d2f2ff;
  }
  
  .genre__instagram:hover {
    background: #ffecdb;
  }
  
  .genre__tiktok:hover {
    background: #dcffe6;
  }
  
  .genre__amazon:hover {
    background: #c7dff5;
  }
  
  .genre__rakuten:hover {
    background: #f8cdcd;
  }
  
  .genre__merukari:hover {
    background: #f8cdcd;
  }
  .genre__back:hover {
    background: #dcffe6;
  }
  
  .genre__txt {
    display: inline-block;
    vertical-align: 15%;
    font-size: 20px;
    color: black;
    font-weight: bold;
  }
  
  .genre__icon {
    font-size: 20px;
    vertical-align: baseline;
    padding-left: 10px;
  }
  
  @media only screen and (min-width: 960px) {
    .logo {
      width: 270px;
    }
    .container {
      max-width: 1000px;
      margin: 0 auto;
    }
    input[type="text"] {
      height: 60px;
      width: 700px;
    }
    .genre__ttl {
      font-size: 30px;
      padding-top: 0px;
    }
    .genre__top {
      padding-top: 20px;
    }
    .genre__ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    .genre__item {
      line-height: 60px;
      height: 60px;
      width: 400px;
      display: inline-block;
      margin-right: 0 auto;
    }
    .genre__itemS {
      width: 250px;
    }
    .genre__icon {
      font-size: 30px;
    }
  }
  .search_logo {
    font-size: 80px;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    opacity: 0.5;
    text-shadow: rgba(0, 0, 0, .2) 3px 3px 3px;
/*text stroke*/
    -webkit-text-stroke: 4px rgba(0, 0, 0, .6);
  }